.reviewPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    cursor: pointer;
    list-style: none;
}

.button_write {
    margin-left: 3rem;
}

.list {
    display: flex;
    list-style: none;
}
