section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.header {
    width: 70%;
    justify-content:center;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo > img {
    width: 5rem;
    object-fit: cover;
}


.content {
    display: flex;
    width: 100%;
    max-width: 70%;
}

.content > img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.container {
    height: 500px;
    margin-left: 2rem;
    background-color: lightgrey;
}

.description {
    height: 20rem;
    overflow-y: scroll;
}

.icon_container {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.icon_container_left {
    display: flex;

}

.icon_container_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon_container_right > button {
    margin-right: 1rem;
}

.heart {
    margin-right: 1rem;
}



/*comments CSS*/
.comments_container {
    margin: 1rem 0;
    width: 70%;
    height: auto;
    border: 1px solid aquamarine;
}


.comments_user {
    padding-right: 1rem;
}

.comments_date {
    color: darkgray;
}


.comment_form {
    display: flex;
    width: 70%;
    margin:auto;
}

.comment_write {
    width: 40rem;
    height: 4rem;
}


.comments_text {
    padding-left: 1rem;
}
